    <!-- About Section -->
    <section id="mentors" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Mentors</h2>
                <p>Mentors will be provided from leading GPU experts in the UK and Europe. This includes:</p>
                    <ul style="font-size:20px">
                      <li>NVIDIA Development Technicians</li>
                      <li>Paul Richmond, Mozhgan Kabiri-Chimeh and Peter Heywood - University of Sheffield</li>
                      <li>Jony Castagna - Software Outlook Project (STFC)</li>
                    </ul>

                
                <p>If you are interested in becoming a mentor for this event then please <a href="contact">contact us</a></p>
            </div>
        </div>
    </section>